{
  "presets": [
    "@vue/app"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}