@font-face
  font-family: 'Museo Sans'
  src: url('~@/assets/fonts/MuseoSans/MuseoSans-500.woff2') format('woff2'), url('~@/assets/fonts/MuseoSans/MuseoSans-500.woff') format('woff')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Museo Sans'
  src: url('~@/assets/fonts/MuseoSans/MuseoSans-500Italic.woff2') format('woff2'), url('~@/assets/fonts/MuseoSans/MuseoSans-500Italic.woff') format('woff')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Museo Sans'
  src: url('~@/assets/fonts/MuseoSans/MuseoSans-300.woff2') format('woff2'), url('~@/assets/fonts/MuseoSans/MuseoSans-300.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Museo Sans 300'
  src: url('~@/assets/fonts/MuseoSans/MuseoSans-300Italic.woff2') format('woff2'), url('~@/assets/fonts/MuseoSans/MuseoSans-300Italic.woff') format('woff');
  font-weight: normal
  font-style: italic
