@import "~@/assets/stylus/settings/_colors"

.theme--light {

  .input-group {

    label {
      font-family: 'Museo Sans', Roboto, sans-serif !important
    }
  }

  form.accent {

    .input-group {

      label {
        color: rgb(1, 161, 165)
        font-size: 16px
        font-weight: bold
      }
    }
  }
}
